
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

*{
  margin: 0;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 24px;
}

button{
  all: unset;
  padding: 6px 16px;
  height: 32px;
  color: white;
  font-weight: 500;
  background-color: brown;
}

.body{
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
}

.body-content{
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.body h1{
  font-weight: 800;
  line-height: 102px;
  font-size: 108px;
}

.body p{
  font-weight: 600;
  color: grey;
  max-width: 400px;
}

.body-btn{
  display: flex;
  gap: 40px;
}

.secondary-btn{
  background: transparent;
  color: grey;
  border: 1px solid grey;
}

.icons{
  display: flex;
  gap: 16px;
}